
.container {
    margin: 20px auto;
    padding-inline: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 600px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.done {
    text-decoration: line-through;
}

.listTask {
    width: 500px;
    list-style: none;
    padding: 0;
}

.item {
    background-color: white;
    padding: 10px 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.card {
    box-shadow: 0 2px 7px 1px rgba(0,0, 0.2)
}




.buttons {
    display: flex;
    gap: 5px;
}


.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addButton {
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 25px;
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.cardModal {
    padding: 20px;
    background-color: #FFF;
}